ПОДКЛЮЧЕНИЕ К БД

In [1]:
import sqlite3
con = sqlite3.connect("tanks.db")
cur = con.cursor()

СМОТРЕТЬ ДАННЫЕ

In [2]:
players = cur.execute("SELECT * FROM players")
players.fetchall()

[(1, 'artem23123', 'red'), (2, 'anton', 'black')]

In [3]:
levels = cur.execute("SELECT * FROM levels")
levels.fetchall()

[(1, 'Underground Storage', 4, 10), (2, 'Castle_Lawn', 5, 15)]

In [4]:
res = cur.execute("SELECT * FROM result")
res.fetchall()

[(1, 1, 60546, None)]

ВСТАВКА ДАННЫХ

In [8]:
name_player = 'anton2'
color = 'black'

cur.execute(f"""
 INSERT INTO players
 (name, color_tank)
  VALUES
 ('{name_player}', '{color}')
""")
con.commit()

In [54]:
name_level = 'Castle_Lawn'
col_enemies = 5
col_blocks = 15

cur.execute(f"""
 INSERT INTO levels
 (name_level, col_enemies, col_blocks)
  VALUES
 ('{name_level}', '{col_enemies}', '{col_blocks}')
""")
con.commit()

In [32]:
name_level = 'Castle_Lawn'
name_player = "artem23123"
time = 1243452
result = 100

levels = cur.execute(
    f"""SELECT id_level FROM levels
    where name_level = '{name_level}' """)
id_level = levels.fetchall()[0][0]

players = cur.execute(
    f"""SELECT id_player FROM players
    where name = '{name_player}'""")
id_player = players.fetchall()[0][0]

cur.execute(f"""
 INSERT INTO result
 (id_player, id_level, time_life, result)
  VALUES
 ('{id_player}'
 , '{id_level}'
 , '{time}', '{result}')
""")
con.commit()

ВЫВОД ЗНАЧЕНИЙ ОТДЕЛЬНО

In [36]:
all_res = cur.execute("""
SELECT * FROM 
    result as r
INNER JOIN players as p
ON r.id_player = p.id_player
INNER JOIN levels as l
ON r.id_level = l.id_level
""")
all_res = all_res.fetchall()
all_res

[(1, 1, 60546, 0, 1, 'artem23123', 'red', 1, 'Underground Storage', 4, 10),
 (1, 2, 124321, 100, 1, 'artem23123', 'red', 2, 'Castle_Lawn', 5, 15),
 (1, 2, 1243452, 100, 1, 'artem23123', 'red', 2, 'Castle_Lawn', 5, 15)]

In [37]:
for row in all_res:
    print(row[2], row[3], row[5], row[6], row[8], row[9])

60546 0 artem23123 red Underground Storage 4
124321 100 artem23123 red Castle_Lawn 5
1243452 100 artem23123 red Castle_Lawn 5

Отключить соедеинение от БД

In [38]:
con.close()